body {
    font-family: 'Brush Script MT', cursive;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url('./Images/bgimg.webp');
    height: auto;
    margin: 0;
}

header {
    height: 10vh;
}

strong {
    color: red;
}

marquee {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 2vw;
    font-weight: bold;
    opacity: 1;
    color: red;
    animation: colorChanging 2s linear infinite;
}

@keyframes colorChanging {
    14% {
        color: red;
    }

    28% {
        color: orange;
    }

    45% {
        color: yellow;
    }

    60% {
        color: green;
    }

    75% {
        color: blue;
    }

    90% {
        color: indigo;
    }

    100% {
        color: violet;
    }
}

#nav-bar {
    max-width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    margin: 0 30px;
    justify-content: end;
    padding: .5vh 0;
}

#nav-bar>a {
    margin: 2.1vh 1.2%;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}

#nav-bar>a:hover {
    background-color: cyan;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
}

#logo>img {
    width: 20vw;
    height: 8vh;
    margin: 1%;
    position: absolute;
    cursor: pointer;
}

#nav-bar>a:hover {
    text-decoration: underline 5px blue;
}

/* main */
#container {
    width: 90vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /*when image is going out of the this container element so that image is not visible.*/
    display: flex;
    box-sizing: border-box;
}

#text {
    width: 50vw;
    height: auto;
    line-height: 20px;
    font-size: 30px;
    padding-top: 5vw;
}

#name {
    color: blue;
    text-decoration: underline;
    text-decoration-color: green;
    font-size: 100%;
    transition: font-size .2s;
}

#name:hover {
    font-size: 105%;
    text-shadow: 1px -1px black,
        3px -3px cyan;
}

/* you can take image few pixels above from the bottom. for the border radient color at the bottom of the Image/Photo*/
#Photo {
    width: 40vw;
    height: 30vw;
    position: relative;
    padding: 0 -700px;
}

#Photo>#myPhoto {
    width: clamp(30vw, 50%, 35vw);
    height: 29.3vw;
    object-fit: fill;
    position: absolute;
    right: 0;
    z-index: 2;
}

#bottom-gradient {
    width: 20vw;
    height: 20px;
    background: linear-gradient(90deg, red, orange, green, blue, indigo, violet);
    border-radius: 100vh;
    display: block;
    position: absolute;
    bottom: 3px;
    left: 14.5vw;
}

#container>#text>button {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 2vw;
    background-color: rgb(174, 255, 255);
    border-radius: 100vw;
    margin-left: 1vw;
    border: 2px solid transparent;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.2s;
}

#container>#text>button:hover {
    background-color: rgb(0, 255, 255);
    box-shadow: 0 10px 0 0 black;
    transform: scale(1.2);
}

#cards {
    width: 90vw;
    height: auto;
    margin: 1cm auto;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.card {
    width: 40vw;
    height: 10vw;
    border: 2px solid;
    font-size: 3vw;
    border: 2px solid;
    border-radius: 10px;
    transform: scale(0.99);
    transition-property: transform;
    transition-duration: .3s;
}

.card:nth-child(1){
    color: rgb(136, 0, 0);
    background-color: rgb(255, 125, 125);
    border-left: 20px solid red;
}
.card:nth-child(2){
    color: rgb(0, 0, 131);
    background-color: rgb(150, 150, 255);
    border-left: 20px solid blue;
}
.card:nth-child(3){
    color: green;
    background-color: greenyellow;
    border-left: 20px solid green;
}
.card:nth-child(4){
    color: rgb(145, 111, 0);
    background-color: rgb(255, 255, 124);
    border-left: 20px solid rgb(231, 170, 0);
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 15px 0 -1px rgb(50, 50, 50);
}

.card>div {
    width: inherit;
    height: inherit;
    display: inline;
    position: relative;
    top: 20%;
    left: 7%;
}

progress {
    display: block;
    font-size: 3.6vw;
}

section#cards div.card div label b {
    position: absolute;
    right: 6vw;
}

/* footer */
footer {
    width: 100%;
    height: auto;
    background-color: rgb(30, 30, 30);
    line-height: 3vw;
    font-size: 1.2vw;
    color: gray;
    position: relative;
    bottom: 0;
    font-family: none;
}

#app-logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 1vw;
    padding-top: 1.5vw;
}

#app-logo>img {
    width: 3vw;
    height: auto;
    margin-bottom: 1vh;
    border-radius: 50%;
    transform: scale(1);
    transition-property: trnasform;
    transition-duration: .5s;
}

#app-logo>img:hover {
    transform: scale(1.5);
    box-shadow: 0 5px 0 0 white;
}

#footer-nav {
    width: 60vw;
    height: auto;
    margin: auto;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

#footer-nav>a {
    color: currentcolor;
    text-decoration-style: underline;
}

#git {
    text-align: center;
}

#git>a {
    text-decoration: none;
    color: currentcolor;
}

#copyright-text {
    width: 100%;
    height: auto;
    color: currentcolor;
    text-align: center;
    position: relative;
    bottom: 0;
}

#copyright-text:hover,
#footer-nav>a:hover,
#git:hover {
    color: white;
}

/* styling on scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background-color: #dddddd;
    opacity: 1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}



/* when the screen size will be in range(1200px) so that even this lines of code will be excuted */
@media screen and (max-width: 1200px) {
    #nav-bar>a {
        font-size: 2.7vw;
    }

    #container {
        height: 32vw;
    }

    #text {
        padding-top: 4vw;
        font-size: 2.5vw;
    }
}



/* when the screen size will be in range(800px) so that even this lines of code will be excuted */
@media screen and (max-width: 800px) {
    header {
        height: 8vh;
    }

    #logo>img {
        width: 20vw;
        height: 5vh;
        margin: 20px 0 0 3vw;
    }

    #container {
        height: auto;
        flex-direction: column-reverse;
        padding-bottom: 10px;
    }

    #Photo {
        width: 100%;
    }

    #Photo>#myPhoto {
        max-width: 40%;
        height: 110%;
        position: absolute;
        right: 30%;
    }

    #bottom-gradient {
        width: 23vw;
        height: 2vh;
        left: 33.5vw;
        bottom: -25px;
    }

    #text {
        width: auto;
        margin: auto;
        font-size: 4vw;
    }

    /* #cards{
        flex-direction: column;
    } */

    section#cards div.card div label b {
        right: 7vw;
    }

    progress {
        width: 85%;
    }
    
}