/* #Photo2{ */
.contain{
    width: 1140px;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px black;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
#myImg{
    background-color: red;
    display: flex;
    border-radius: 0 0 20% 20%;
    align-items: center;
}
#txt{
    max-width: 100%;
    text-align: center;
    flex: 1;
}
#txt>h1{
    text-decoration: overline underline;
}
#summary{
    text-align: justify;
    line-height: 1.5rem;
    font-weight: bold;
    text-indent: 5rem;
    font-size: large;
}