/* #Photo2{ */
.contain{
    height: auto;
    background-color: rgb(255, 255, 200);
}

#myImg{
    width: 300px;
    position: relative;
    left: 0;
    margin: auto;
}
#txt{
    max-width: 60%;
}
#txt>h1{
    text-align: center;
    text-decoration: overline underline;
}
#summary{
    text-align: justify;
    line-height: 1.5rem;
    font-weight: bold;
    text-indent: 5rem;
    font-size: large;
    margin-right: 40px;
}
