
#cards {
    max-width: 100%;
    height: auto;
    margin: 1cm auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.card {
    width: 40vw;
    height: 20vmin;
    border: 2px solid;
    font-size: 2rem;
    white-space: normal;
    border: 2px solid;
    border-radius: 10px;
    transform: scale(0.99);
    transition-property: transform;
    transition-duration: .3s;
}

.card:nth-child(1) {
    color: rgb(136, 0, 0);
    background-color: rgb(255, 75, 75);
    border-left: 20px solid rgb(214, 0, 0);
}

.card:nth-child(2) {
    color: rgb(4, 0, 255);
    background-color: rgb(77, 160, 255);
    border-left: 20px solid rgb(0, 4, 255);
}

.card:nth-child(3) {
    color: black;
    background-color: rgb(255, 255, 47);
    border-left: 20px solid rgb(231, 170, 0);
}

.card:nth-child(4) {
    color: rgb(133, 0, 133);
    background-color: rgb(208, 55, 255);
    border-left: 20px solid rgb(133, 0, 133);
}

.card:nth-child(5) {
    color: rgb(0, 224, 224);
    background-color: rgb(208, 255, 255);
    border-left: 20px solid rgb(0, 224, 224);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 0 -1px rgb(200, 200, 200);
}

.card>div {
    width: inherit;
    height: inherit;
    display: inline;
    position: relative;
    top: 20%;
    left: 6%;
}

progress {
    display: block;
    font-size: 3.5vw;
}

section#cards div.card div label b {
    position: absolute;
    right: 6vw;
}


